<div class="chatViewContainer">
    <div class="chatViewWrapper">
        <div class="chatViewHeader">
            <div class="chatViewHeaderWrapper">
                <div class="receipientNameStatus">
                    <div class="chat-avatar">
                        <img src="./../../../assets/img/avatar.webp" alt="" srcset="">
                    </div>
                    <div class="chat-info">
                        <h4>Mike</h4>
                        <p>Last message</p>
                    </div>
                </div>
                <div class="otherInfo">
                    <div class="searchChat">
                        <!-- <input type="text"> -->
                        <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                            <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                            <g id="SVGRepo_iconCarrier">
                                <path d="M17 17L21 21" stroke="#323232" stroke-width="2" stroke-linecap="round"
                                    stroke-linejoin="round"></path>
                                <path
                                    d="M19 11C19 15.4183 15.4183 19 11 19C6.58172 19 3 15.4183 3 11C3 6.58172 6.58172 3 11 3C15.4183 3 19 6.58172 19 11Z"
                                    stroke="#323232" stroke-width="2"></path>
                            </g>
                        </svg>
                    </div>
                </div>
            </div>
        </div>
        <div class="messagesView">
            <div class="messages">
                <p class="chat-message">
                    This is the message <span class="chat-timestamp">11:33 pm</span>
                </p>
            </div>
        </div>
        <div class="inputArea">
            <div class="inputAreWrapper">
                <div class="pin">
                    <svg fill="#000000" viewBox="0 0 24 24" id="paper-clip-top-right" data-name="Flat Line"
                        xmlns="http://www.w3.org/2000/svg" class="icon flat-line">
                        <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                        <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                        <g id="SVGRepo_iconCarrier">
                            <path id="primary"
                                d="M5.23,8.73,9.18,4.78a6.1,6.1,0,0,1,8.61,0h0a6.09,6.09,0,0,1,0,8.6l-6.43,6.43a4,4,0,0,1-5.74,0h0a4.06,4.06,0,0,1,0-5.73l6.74-6.74a2,2,0,0,1,2.87,0h0a2,2,0,0,1,0,2.87l-7,7"
                                style="fill: none; stroke: #000000; stroke-linecap: round; stroke-linejoin: round; stroke-width: 2;">
                            </path>
                        </g>
                    </svg>
                </div>
                <div class="inputBox">
                    <input type="text" placeholder="Type a message">
                </div>
                <div class="mic">
                    <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                        <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                        <g id="SVGRepo_iconCarrier">
                            <path d="M12 17V21M12 21H9M12 21H15" stroke="#000000" stroke-width="2" stroke-linecap="round"
                                stroke-linejoin="round"></path>
                            <rect x="10" y="3" width="4" height="10" rx="2" stroke="#000000" stroke-width="2"
                                stroke-linecap="round" stroke-linejoin="round"></rect>
                            <path
                                d="M17.7378 12.7542C17.3674 13.9659 16.6228 15.0293 15.6109 15.7918C14.599 16.5544 13.3716 16.977 12.1047 16.9991C10.8378 17.0212 9.59647 16.6417 8.55854 15.9149C7.52061 15.1881 6.73941 14.1515 6.32689 12.9534"
                                stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                        </g>
                    </svg>
                </div>
            </div>
        </div>
    </div>
</div>