<div class="chatRecipientsContainer">
    <div class="chatRecipients">
        <div class="searchNnew">
            <input type="text">
            <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                <g id="SVGRepo_iconCarrier">
                    <path d="M9 12H15" stroke="#323232" stroke-width="1" stroke-linecap="round"
                        stroke-linejoin="round"></path>
                    <path d="M12 9L12 15" stroke="#323232" stroke-width="1" stroke-linecap="round"
                        stroke-linejoin="round"></path>
                    <path
                        d="M3 12C3 4.5885 4.5885 3 12 3C19.4115 3 21 4.5885 21 12C21 19.4115 19.4115 21 12 21C4.5885 21 3 19.4115 3 12Z"
                        stroke="#323232" stroke-width="2"></path>
                </g>
            </svg>
            <!-- <button>
            </button> -->
        </div>
        <div class="recipientList">
            <div class="listWrapper">
                <div class="recipient" *ngFor="let item of [1,2,3,4,5,6,7,8,9,11,12,13]">
                    <div class="chat-avatar">
                        <img src="./../../../assets/img/avatar.webp" alt="" srcset="">
                    </div>
                    <div class="chat-info">
                        <h4>Mike</h4>
                        <p>Last message</p>
                    </div>
                    <div class="time">
                        <p>2:44 am</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>