
.container {
    width: 100vw;
    // display: flex;
    height: 100vh;


    .sidebar {
        // flex: .5;
        // background-color: brown;
        // width: 75px;
    }
    
    .container {
        // flex: 10;
        background-color: darkseagreen;
    
    }
}
