<div class="toast-container" *ngIf="showToast" [ngClass]="{
    success: toastrType == 'success' ,
    error: toastrType == 'error' ,
    warn: toastrType == 'warn' ,
    info: toastrType == 'info' 
    
}" >
    <span class="close-btn" (click)="closeToast()">x</span>
    <div class="toast-content">
        <!-- <span class="icon"><svg width="15px" fill="#ffffff" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M438.6 105.4c12.5 12.5 12.5 32.8 0 45.3l-256 256c-12.5 12.5-32.8 12.5-45.3 0l-128-128c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0L160 338.7 393.4 105.4c12.5-12.5 32.8-12.5 45.3 0z"/></svg></span>
         -->
         <span class="icon" *ngIf="toastrType == 'success'">✓</span>
         <span class="icon" *ngIf="toastrType == 'error'">X</span>
         <span class="icon" *ngIf="toastrType == 'warn'">!</span>
         <span class="icon" *ngIf="toastrType == 'info'">i</span>
        <span>{{ toastMessage }}</span>
    </div>
</div>